<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/include/template.xhtml">

	<ui:define name="titulo">
		<title>Home</title>
	</ui:define>

	<ui:define name="conteudo">
		<h1>Selecione uma turma</h1>
	</ui:define>
</ui:composition>