<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/include/template.xhtml">

	<ui:define name="titulo">
		<title>Cadastrar Aluno</title>
	</ui:define>

	<ui:define name="conteudo">

		<br />
		<h:form>
			<h:commandLink action="#{usuarioMB.irParaHomeAdmin}" value="Home" />
		->
		<h:commandLink action="#{usuarioMB.irParaListaAlunos}"
				value="Alunos" />
		->
		<h:commandLink action="#{usuarioMB.irParaCadastrarAlunos}"
				value="Cadastrar Aluno" />
		</h:form>
		<br />

		<h:form>
			<h2>Cadastrar Aluno</h2>

			<h:messages />
			<fieldset>

				<p>Nome:</p>
				<p>
					<h:inputText value="#{alunoMB.aluno.nome}" required="true"
						requiredMessage="Nome obrigatório" />
				</p>


				<p>
					<h:commandButton action="#{alunoMB.cadastrar}" value="Cadastrar" />
				</p>
			</fieldset>
		</h:form>
	</ui:define>
</ui:composition>