<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/include/template.xhtml">

	<ui:define name="titulo">
		<title>Cadastrar Professor</title>
	</ui:define>

	<ui:define name="conteudo">
		<br />
		<h:form>
			<h:commandLink action="#{usuarioMB.irParaHomeAdmin}" value="Home" />
		->
		<h:commandLink action="#{usuarioMB.irParaListaProfessores}"
				value="Professores" />
		->
		<h:commandLink action="#{usuarioMB.irParaCadastrarProfessores}"
				value="Cadastrar Professor" />
		</h:form>
		<br />

		<h:form>
			<h2>Cadastrar Professor</h2>

			<h:messages />
			<fieldset>
				
				<p>Nome:</p>
				<p>
					<h:inputText value="#{professorMB.professor.nome}" required="true"
						requiredMessage="Nome obrigatório" />
				</p>

				<p>Email:</p>
				<p>
					<h:inputText value="#{professorMB.professor.email}" required="true"
						requiredMessage="E-mail obrigatório" />
				</p>

				<p>Telefone:</p>
				<p>
					<h:inputText value="#{professorMB.professor.telefone}"
						required="true" requiredMessage="Telefone obrigatório" />
				</p>

				<p>Data de Nascimento:</p>
				<p>
					<h:inputText value="#{professorMB.professor.dataNascimento}"
						required="true" requiredMessage="Data de nascimento obrigatória">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:inputText>
				</p>


				<p>
					<h:commandButton action="#{professorMB.cadastrar}"
						value="Cadastrar" />
				</p>
			</fieldset>
		</h:form>
	</ui:define>
</ui:composition>