<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/include/template.xhtml">

	<ui:define name="titulo">
		<title>Home</title>
	</ui:define>

	<ui:define name="conteudo">
		<br />
		<h:form>
			<h:commandLink action="#{usuarioMB.irParaHomeAdmin}" value="Home" />
		</h:form>
		<br />

		<h2>Realizar operações com:</h2>

		<br />
		<h:form>
			<h:commandLink action="#{professorMB.listar}" value="Professores" />
			<br />
			<br />
			
			<h:commandLink action="#{alunoMB.listar}" value="Alunos" />
			<br />
			<br />
		</h:form>
	</ui:define>
</ui:composition>