<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/include/template.xhtml">

	<ui:define name="titulo">
		<title>Professores</title>
	</ui:define>

	<ui:define name="conteudo">
		<br />
		<h:form>
			<h:commandLink action="#{usuarioMB.irParaHomeAdmin}" value="Home" />
		->
		<h:commandLink action="#{usuarioMB.irParaListaProfessores}"
				value="Professores" />
		</h:form>
		<br />

		<h2>Professores</h2>

		<h:form>
			<h:commandLink action="#{professorMB.novo}"
				value="Cadastrar professor" />
		</h:form>
		<br />

		<h:dataTable value="#{professorMB.listaProfessores}" var="c">
			<h:column>
				<f:facet name="header">ID</f:facet>
				<h:outputText value="#{c.id}" />
			</h:column>
			<h:column>
				<f:facet name="header">Nome</f:facet>
				<h:outputText value="#{c.nome}" />
			</h:column>
			<h:column>
				<f:facet name="header">Email</f:facet>
				<h:outputText value="#{c.email}" />
			</h:column>
			<h:column>
				<f:facet name="header">Telefone</f:facet>
				<h:outputText value="#{c.telefone}" />
			</h:column>
			<h:column>
				<f:facet name="header">Data de Nascimento</f:facet>
				<h:outputText value="#{c.dataNascimento}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:outputText>
			</h:column>
			<h:column>
				<h:form>
					<h:commandLink action="#{professorMB.apagar(c)}" value="Apagar" />
				</h:form>
			</h:column>
		</h:dataTable>

		<br />
	</ui:define>
</ui:composition>