<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/include/template.xhtml">

	<ui:define name="titulo">
		<title>Alunos cadastrados</title>
	</ui:define>

	<ui:define name="conteudo">
		<br />
		<h:form>
			<h:commandLink action="#{usuarioMB.irParaHomeAdmin}" value="Home" />
		->
		<h:commandLink action="#{usuarioMB.irParaListaAlunos}" value="Alunos" />
		</h:form>
		<br />

		<h2>Alunos</h2>

		<br />
		<h:form>
			<h:commandLink action="#{alunoMB.novo}" value="Cadastrar aluno" />
		</h:form>

		<br />
		<br />

		<h:dataTable value="#{alunoMB.listaAlunos}" var="c">
			<h:column>
				<f:facet name="header">ID</f:facet>
				<h:outputText value="#{c.id}" />
			</h:column>
			<h:column>
				<f:facet name="header">Nome</f:facet>
				<h:outputText value="#{c.nome}" />
			</h:column>
			<h:column>
				<h:form>
					<h:commandLink action="#{alunoMB.apagar(c)}" value="Apagar" />
				</h:form>
			</h:column>
		</h:dataTable>

	</ui:define>
</ui:composition>